@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    

    grid:
    "header" auto
    "contenido" auto
    "formulario" auto

    
    
}

.capriola-regular {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* .video{
    position: relative;
} */

article{
    /* margin-left: 5px; */
    min-width: 524px;
    
}

article.contenedor-texto{  
    grid-template-columns: auto; 
    
}


header{
    grid-area: header;
    background-color: #b1792f;
    
}
header img.logo{
    width: auto;
    height: 100%;
    padding: 20px;
}

header h1{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    
}

.formulario1{
    grid-area:formulario;
    width: 100%;
    margin-top: 88px;
}

.articulo.destacado {
    grid-area: contenido;
    color: white;
    background-color: #23857A;
    width: 50%;
}

.llamadaAccion{
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    
}
  
h1{
    font-size:3.5rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;     
}

button.w-full{
    background-color:#23857A;
}

button.w-full:hover{
    --tw-bg-opacity:1;
    background-color:rgb(177, 121, 47);
} 

.llamadaAccion a{
    color: white;
}

.llamadaAccion a:hover{
    color: #B1792F;
}
.iconos-sociales img{ 
    transition:all 0.5s ease-out; 
}
.iconos-sociales img:hover{ 
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.2); 
    transform:translate(0px, -5px); 
}

@media (min-width: 768px){  
    .wrapper{
        grid:

            "header header" auto
            "contenido formulario" 1fr
    }
    .articulo.destacado{
        width: 75%;
    }
}